// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin, #destination,  {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#calculate{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100px;
}

#origin:focus {
    border-color: #4d90fe;
}

@media (max-width: 500px) {
    #origin, #destination{
        width: 75%;
    }
}

#info {
    background: white;
    border-radius: 5px;
    width: 300px;
    font-family: Roboto;
    vertical-align: middle;
    text-align: center;
}

#route_info{
    background: white;
    border-radius: 5px;
    width: 300px;
    font-family: Roboto;
    vertical-align: middle;
    span{
        font-size: 14px;
        margin-left: 10px;
        margin-top: 6px;
        display: inline-block;

    }

    img{
        float: right;
        margin-right: 10px;
        margin-top: 3px;
        cursor: pointer;
    }
    img.disabled{
        opacity: 0.1;
    }
}

.bike{
    width: 24px;
    heigth: 21px;
    float: left;
    padding-top: 4px;
    padding-left: 15px;
}

.close{
    width: 15px;
    heigth: 15px;
    float: right;
    padding-top: 8px;
    padding-right: 15px;
}

.info-text {
    height: 15px;
    font-size: 15px;
    color: black;
    padding-top: 7px;
    padding-left: 20px;
    display: inherit;
    float:left;
    cursor: pointer;
    cursor: hand;
}

.emoji_positive, .emoji_neutral, .emoji_poop {
    width: 24px;
    heigth: 21px;
}

#spinner{
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 75px;
    left: 50%;
    top: 50%;
}
